/* Main container to hold profile and side content side by side */
.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px; /* Add some space between profile and side content */
}

.profile-container {
  display: flex;
  flex-direction: column;
  width: 50%; /* Adjust the width as needed */
}

.profile-form {
  width: 100%;
}

.profile-container mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

mat-card {
  margin-top: 20px;
  position: relative;
  border-radius: 10px; /* Smoothen the corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.profile-card-header {
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-button {
  position: relative;
}

button {
  margin: 0;
}

.card-content-container {
  padding-top: 20px;
}

.profile-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.side-content {
  display: flex;
  flex-direction: column;
  width: 70%; /* Adjust the width as needed */
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between grid items */
}

.card {
  flex: 1 1 calc(33.33% - 10px); /* Three cards per row */
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

@media (max-width: 1024px) {
  .card {
    flex: 1 1 calc(50% - 10px); /* Two cards per row */
    max-width: calc(50% - 10px);
  }
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    gap: 10px;
  }
  .profile-container, .side-content {
    width: 100%;
  }
  .card {
    flex: 1 1 calc(100% - 10px);
    max-width: calc(100% - 10px);
  }
}

@media (max-width: 480px) {
  .card {
    flex: 1 1 calc(100% - 10px);
    max-width: calc(100% - 10px);
  }
}
