# Reverse proxy from Caddy to development servers.
#
# Port: Service
# =============
# 1460: Caddy
# 1461: Backend (uvicorn / FastAPI)
# 1462: Front-end (Webpack / Angular)

http://localhost:1460

reverse_proxy /api http://localhost:1461
reverse_proxy /api/* http://localhost:1461
reverse_proxy /docs http://localhost:1461
reverse_proxy /docs/* http://localhost:1461
reverse_proxy /auth http://localhost:1461
reverse_proxy /auth/* http://localhost:1461
reverse_proxy /openapi.json http://localhost:1461
reverse_proxy * http://localhost:1462
