.discussion-card {
  flex: 1 1 calc(33% - 20px);
  max-width: 350px;
  min-width: 350px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.discussion-card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.discussion-card mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  border-radius: 8px;
}

.discussion-card mat-card-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
  background: linear-gradient(to right, #3f51b5, #5c6bc0); /* Subtle gradient for discussions */
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-card-title {
  font-size: 20px;
  font-weight: bold;
  word-break: break-word;
  color: #fff;
}

mat-card-subtitle {
  font-size: 16px;
  color: #fff;
  margin-top: 8px;
}

.comment-time {
  font-size: 14px;
  color: #fff;
}

mat-card-content {
  padding: 16px;
  flex-grow: 1; /* Ensure content takes available space */
}

mat-card-content p {
  font-size: 16px;
  color: #666;
  word-break: break-word;
  margin: 16px 0;
}

mat-card-actions {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card-label {
  position: absolute;
  bottom: 8px;
  left: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  max-width: 50%;
}

@media (max-width: 768px) {
  .discussion-card {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .discussion-card {
    flex: 1 1 calc(100% - 20px);
  }
}
