<mat-card class="comment-card" (dblclick)="navigateToForm()">
  <mat-card-header>
    <mat-card-title
      >{{ comment.author.first_name }} {{ comment.author.last_name }}
    </mat-card-title>
    <span class="comment-time">{{ mostRecentTime | date: "short" }}</span>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="!isEditing && !isExpanded">
      <p>{{ truncatedComment }}</p>
      <button
        *ngIf="isTruncated"
        mat-button
        color="primary"
        (click)="toggleExpand()"
      >
        {{ isExpanded ? "Show Less" : "Read More" }}
      </button>
    </ng-container>
    <div *ngIf="isEditing">
      <form [formGroup]="editCommentForm" (ngSubmit)="saveComment()">
        <mat-form-field class="full-width">
          <mat-label>Edit Comment</mat-label>
          <textarea
            matInput
            formControlName="description"
            maxlength="1000"
          ></textarea>
          <mat-error
            *ngIf="cf['description'].touched && cf['description'].invalid"
          >
            <span *ngIf="cf['description'].errors?.['required']">
              Description is required.
            </span>
            <span *ngIf="cf['description'].errors?.['maxlength']">
              Description cannot exceed 1000 characters.
            </span>
          </mat-error>
        </mat-form-field>
        <div class="edit-button">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="editCommentForm.invalid"
          >
            Save
          </button>
        </div>
      </form>
    </div>
    <ng-container *ngIf="!isEditing && isExpanded">
      <p>{{ comment.description }}</p>
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <button
      *ngIf="isAuthor && !isEditing"
      mat-icon-button
      color="primary"
      (click)="enableEditMode()"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      *ngIf="isAuthor"
      mat-icon-button
      color="warn"
      (click)="deleteComment()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
