<div class="project-form-container">
  <form [formGroup]="projectForm" (ngSubmit)="saveProject()" class="project-form">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ isNewProject ? 'Create New Project' : 'Update Project' }}</mat-card-title>
      </mat-card-header>
      <div class="card-content-container">
        <mat-card-content>
          <mat-form-field>
            <mat-label>Name of Project</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="f['name'].touched && f['name'].invalid">
              <span *ngIf="f['name'].errors?.['required']">Name is required.</span>
              <span *ngIf="f['name'].errors?.['minlength']">Name must be at least 3 characters long.</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error *ngIf="f['description'].touched && f['description'].invalid">
              <span *ngIf="f['description'].errors?.['required']">Description is required.</span>
              <span *ngIf="f['description'].errors?.['minlength']">Description must be at least 10 characters long.</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Current Users</mat-label>
            <input matInput (input)="searchUsers($event, 'users')" [matAutocomplete]="autoUsers" />
            <mat-autocomplete #autoUsers="matAutocomplete">
              <mat-option *ngFor="let user of filteredUsers" [value]="user.email">{{ user.email }}</mat-option>
            </mat-autocomplete>
            <div *ngFor="let user of currentUsers.controls; let i = index">
              {{ user.value.email }}
            </div>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Owners</mat-label>
            <input matInput (input)="searchUsers($event, 'owners')" [matAutocomplete]="autoOwners" />
            <mat-autocomplete #autoOwners="matAutocomplete">
              <mat-option *ngFor="let user of filteredOwners" [value]="user.email">{{ user.email }}</mat-option>
            </mat-autocomplete>
            <div *ngFor="let owner of owners.controls; let i = index">
              {{ owner.value.email }}
            </div>
          </mat-form-field>
        </mat-card-content>
      </div>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="projectForm.invalid">
          {{ isNewProject ? 'Create Project' : 'Update Project' }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
