<app-navigation></app-navigation>
<div class="project-form-container">
  <h2>{{ isNewProject ? 'Create New Project' : 'Edit Project' }}</h2>
  <form [formGroup]="projectForm" (ngSubmit)="saveProject()">
    <div class="form-group">
      <label for="name">Name of Project</label>
      <input type="text" id="name" formControlName="name" />
      <div *ngIf="projectForm.controls['name'].touched && projectForm.controls['name'].invalid" class="error-message">
        <div *ngIf="projectForm.controls['name'].errors?.['required']">Name is required.</div>
        <div *ngIf="projectForm.controls['name'].errors?.['minlength']">Name must be at least 3 characters long.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" formControlName="description"></textarea>
      <div *ngIf="projectForm.controls['description'].touched && projectForm.controls['description'].invalid" class="error-message">
        <div *ngIf="projectForm.controls['description'].errors?.['required']">Description is required.</div>
        <div *ngIf="projectForm.controls['description'].errors?.['minlength']">Description must be at least 10 characters long.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="current_users">Current Users</label>
      <input type="text" id="current_users" formControlName="current_users" />
    </div>
    <div class="form-group">
      <label for="owners">Owners</label>
      <input type="text" id="owners" formControlName="owners" />
    </div>
    <button type="submit" [disabled]="projectForm.invalid">{{ isNewProject ? 'Create Project' : 'Update Project' }}</button>
  </form>
</div>
