<app-navigation></app-navigation>
<div class="projects-container">
  <h2>Explore Projects</h2>
  <button mat-raised-button color="primary" class="create-project-button" (click)="createProject()">
    Create New Project
  </button>
  <div class="projects-list">
    <mat-card *ngFor="let project of projects" class="project-card">
      <mat-card-header>
        <mat-card-title>{{ project.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ project.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="viewProjectDetails(project)">View Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
