<app-navigation></app-navigation>
<div class="projects-container">
  <div class="header">
    <h2>Explore Projects</h2>
    <button mat-raised-button color="primary" class="create-project-button" (click)="createProject()">
      Create New Project
    </button>
  </div>
  <div class="search-container">
    <input type="text" placeholder="Search projects..." [(ngModel)]="searchQuery" class="search-input" (input)="filterProjects()">
  </div>
  <div class="projects-list">
    <app-project-card *ngFor="let project of filteredProjects" [project]="project" [currentUser]="currentUser" (projectDeleted)="handleProjectDeleted($event)"></app-project-card>
  </div>
</div>
