<div class="container">
  <mat-toolbar color="primary" class="header">
    <div class="header-links">
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/projects">Projects</a>
      <a mat-button routerLink="/discussions">Discussions</a>
    </div>
    <span class="flex-spacer"></span>
    <a mat-button routerLink="/sign-in" class="sign-in">Sign-In</a>
  </mat-toolbar>

  <div class="main-content">
    <div class="content-wrapper">
      <div class="title-section">
        <h1 class="title">
          {{ isLoginMode ? "Login" : "Create Your Account" }}
        </h1>
      </div>

      <div class="form-section">
        <mat-card class="form-card">
          <mat-card-title class="form-title">{{
            isLoginMode ? "Login" : "Create Account"
          }}</mat-card-title>
          <mat-card-content>
            <form
              [formGroup]="isLoginMode ? loginForm : createAccountForm"
              (ngSubmit)="onSubmit()"
            >
              <mat-form-field class="form-input" appearance="outline">
                <mat-label>{{
                  isLoginMode ? "Username" : "Email Address"
                }}</mat-label>
                <input
                  matInput
                  [type]="isLoginMode ? 'text' : 'email'"
                  [formControlName]="isLoginMode ? 'username' : 'email'"
                />
                <mat-error
                  *ngIf="
                    (isLoginMode
                      ? loginForm.get('username')
                      : createAccountForm.get('email')
                    )?.invalid
                  "
                >
                  {{
                    isLoginMode
                      ? "Please enter a valid username."
                      : "Please enter a valid email."
                  }}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-input" appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  type="password"
                  [formControlName]="isLoginMode ? 'password' : 'password'"
                />
                <mat-error
                  *ngIf="
                    (isLoginMode
                      ? loginForm.get('password')
                      : createAccountForm.get('password')
                    )?.invalid
                  "
                >
                  Password must be at least 6 characters.
                </mat-error>
              </mat-form-field>
              <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
              </div>
              <mat-card-actions class="form-actions">
                <button
                  mat-raised-button
                  color="primary"
                  class="form-submit"
                  type="submit"
                >
                  {{ isLoginMode ? "Login" : "Create" }}
                </button>
              </mat-card-actions>
            </form>
          </mat-card-content>
        </mat-card>
        <button mat-button (click)="onSwitchMode()">
          {{ isLoginMode ? "Create Account" : "Login" }}
        </button>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</div>
