<app-navigation></app-navigation>
<div class="discussions-container">
  <div class="header">
    <h2>Explore Discussions</h2>
    <button
      mat-raised-button
      color="primary"
      class="create-discussion-button"
      (click)="createDiscussion()"
    >
      Create New Discussion
    </button>
  </div>
  <div class="search-container">
    <input
      type="text"
      placeholder="Search discussions..."
      [(ngModel)]="searchQuery"
      class="search-input"
      (input)="filterDiscussions()"
    />
  </div>
  <div class="discussions-list">
    <app-discussion-card
      *ngFor="let discussion of filteredDiscussions"
      [discussion]="discussion"
      [currentUser]="currentUser"
      (discussionDeleted)="handleDiscussionDeleted($event)"
    ></app-discussion-card>
  </div>
</div>
